body {
  font-family: 'Roboto';
  background-color: #E5E5E5;
  color: #444444;
}

.jumbotron {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: fixed;
  background-color: #444444;
  color: #FFFFFF;
  min-height: 300px;
  text-shadow: 8px 8px 6px rgba(0,0,0,0.48);
}
.jumbotron .date {
  font-size: 1.5em;
  line-height: 42px;
}

.jumbotron .status {
  font-size: 1.5em;
  margin: 0;
}
.jumbotron .particle {
  font-size: 1.2em;
  text-shadow: none;
}

a {
text-decoration: none;
color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.card:hover {
  box-shadow:  0 30px 60px -12px rgba(50,50,93,0.25), 0 18px 36px -18px rgba(0,0,0,0.3);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-52 { font-size: 52px; }
.material-icons.md-120 { font-size: 120px; }
.material-icons.xwarn { color: #FF6A00; }
.card.day {
  width: 12%;
  margin: 15px 14px;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #444444;
  color: #FFFFFF;
  text-align: center;
  border-radius: 10%;
}

.card .card-title {
  font-size: 1.25em;
  margin: 0;
  font-weight: bolder;
}

section#main-forecast {
  min-height: 600px;
}

@media screen and (max-width: 992px) {
  .card.day {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 2%;
  }
}